<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__grid d-flex">
                <div class="header__col d-flex">
                    <a href="my-wallets.html">
                        <img src="img/logo.png" alt="logo" class="logo header__logo">
                    </a>
                    <nav class="menu header__menu d-flex">
                        <a href="my-wallets.html" class="header__link header__link--active d-flex">
                            <span>Wallets</span>
                        </a>
                        <a href="transactions-history.html" class="header__link d-flex">
                            <span>Transactions</span>
                        </a>
                    </nav>
                </div>
                <div class="header__col d-flex">
                    <div class="header__link header__link--dropdown d-flex">
                        <svg class="header__icon header__icon--person">
                            <use xlink:href="#person-icon" />
                        </svg>
                        <span>Jonh Doe</span>
                        <div class="dropdown header__dropdown">
                            <div class="dropdown__item">
                                <a href="account-settings.html" class="dropdown__link">Account</a>
                            </div>
                            <div class="dropdown__item">
                                <a href="login.html" class="dropdown__link">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
